@media (max-width: 900px) {

h1{
font-size: 36px;
}

.main__inner-article button {
font-size: 15px;
}

}

@media (max-width: 800px) {
.header__inner-nav p {
display: none;
}
}


@media (max-width: 700px) {

.footer__inner {
height: unset;
display: flex;
flex-direction: column;
padding-bottom: 20px;
}

}

@media (max-width: 600px) {

nav {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 32px;
}

.main__inner-article p {
    font-size: 10px;
}

.services__inner{
	flex-wrap: wrap;
}

.services__inner-block {
 min-width: 150px;
}

}